#phone {
   width: 70%;
   height: 100%;
   position: absolute;
   user-select: none;
   z-index: 9;
   overflow: hidden;
}

#screenBox {
   height: 100%;
   width: 70%;
   position: absolute;
   z-index: 11;
   overflow: hidden;
}

.tooltip {
   position: absolute;
   background-color: #333;
   color: #fff;
   padding: 5px;
   width: 50px;
   height: 30px;
   display: none;
}

#screen {
   width: 70%;
   height: 85%;
   background-color: transparent;
}

#messages {
   height: 90%;
   width: 100%;
   box-sizing: border-box;
   padding: 10px 34px 5px 42px;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   scrollbar-width: none;
}

#messageInput {
   height: 10%;
   width: 100%;
   box-sizing: border-box;
}

#usernameInput {
   width: 315px;
   height: 36px;
   color: white;
   padding: 5px;
   font-size: 25px;
}

#inputMessage {
   width: 65%;
   font-weight: 100;
}

#inputMessage::placeholder {
   color: black;
}

#usernameInput::placeholder {
   color: white;
   font-size: 25px;
}

#msgInput {
   gap: 10px;
   margin-top: 10px;
   height: 50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#filtersBox {
   height: 10%;
   width: 100%;
   padding: 10px 34px 5px 42px;
   justify-content: flex-end;
}

#filter {
   font-size: 35px;
   cursor: pointer;
   border-radius: 10px;
   position: relative;
}

#filter:hover {
   background-color: #CECECE;
}

.filerOptionsBox {
   width: 150px;
   height: 70px;
   background-color: #CECECE;
   border-radius: 10px;
   border-top-right-radius: 0px;
   position: absolute;
   transform: translateX(-115px);
   z-index: 120;
}

.moreOpt {
   height: 35px;
   width: 100%;
   font-size: 18px;
   color: black;
   font-family: Arial, sans-serif;
   display: flex;
   align-items: center;
   padding: 5px 10px;
}

.moreOpt:hover {
   background-color: #A8A8A8;
}

.meassageDiv1 {
   width: 100%;
   height: 100%;
   display: flex;
   overflow-y: visible;
   gap: 7px;
}

.meassageDiv11 {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.meassageDiv22 {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   direction: rtl;
}

.meassageDiv2 {
   width: 100%;
   height: 100%;
   display: flex;
   overflow-y: visible;
   gap: 7px;
}

.sendingDiv1 {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: flex-start;
   box-sizing: border-box;
   margin-top: 15px;
   padding: 5px 0px 5px 0px;
}

.sendingDiv2 {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: flex-end;
   box-sizing: border-box;
   margin-top: 15px;
   padding: 5px 0px 5px 0px;
}

.sendMessage {
   width: 35%;
   height: 40px;
   background-color: #A350B7;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   font-weight: 600;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.messageOptions {
   width: 100px;
   height: 90px;
   background-color: #A350B7;
   z-index: 230;
   box-sizing: border-box;
   display: none;
   flex-direction: column;
   margin-top: 20px;
}

.msgOpt {
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   font-size: 16px;
   box-sizing: border-box;
   padding: 2px 7px;
   cursor: pointer;
}

.msgOpt:hover {
   background-color: #6D2180;
}

.message1 {
    padding: 8px 10px 2px 10px;
    background-color: #36EC8B;
    border-top-right-radius: 15px;
    width: auto;
    max-width: 80%;
    margin-top: 15px;
    display: inline-block;
    word-wrap: break-word;
    z-index: 50;
    font-size: 18px;
    position: relative;
    min-width: 70px;
}

.message2 {
   padding: 10px 6px 10px 10px;
   background-color: #36EC8B;
   border-top-left-radius: 15px;
   width: auto;
   max-width: 80%;
   margin-top: 15px;
   display: inline-block;
   word-wrap: break-word;
   z-index: 50;
   font-size: 18px;
   position: relative;
   min-width: 70px;
   direction: ltr;
}

.sendDots {
   animation-name: sendingDots;
   animation-duration: 1.2s;
   animation-iteration-count: infinite;
   font-size: 18px;
}

.dateBox2 {
   display: flex;
   align-items: flex-end;
   height: 100%;
   font-size: 13px;
   font-weight: bold;
   user-select: none;
}

@keyframes sendingDots {
   0% {
      opacity: 1;
      transform: translateX(0%);
  }
  100% {
      opacity: 0;
      transform: translateX(40%);
  }
}

.checkmark2 {
   height: 20px;
   width: 30px;
   background-color: #36EC8B;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   padding: 5px 15px;
}

.checkmark1 {
   height: 20px;
   width: 30px;
   background-color: #36EC8B;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items:center;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 5px 15px;
}

.dateBox {
   height: 28px;
   background-color: #36EC8B;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   align-items: center;
   font-size: 11px;
   justify-content: space-between;
   padding: 5px 6px;
   box-sizing: border-box;
   position: relative;
   min-width: 70px;
   user-select: none;
}

.addonSpace {
   height: 100px;
}